:root {
  --primary: hsl(159, 43%, 59%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --Cricle: hsla(216, 12%, 54%, 0.1);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}
body {
  margin: 0;
  padding: 0;
}
#root {
  background-color: var(--VeryDarkBlue);
  height: 100vh;
  width: 100%;
}
header {
  position: fixed;
  height: 8%;
  background-color: var(--DarkBlue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: line-through;
  font-size: 20px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  background-color: var(--DarkBlue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: line-through;
  font-size: 20px;
  height: 8%;
}